.idea
.env

backend/venv
backend/celerybeat-shedule
backend/celerybeat-shedule.db
backend/orders/google_sheets_configs/token.json

frontend/node_modules
frontend/yarn.lock
frontend/package-lock.lock
frontend/build